/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* Main styles */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.title {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #40485E;
}

ul {
    margin: 0;
}


/* Header styles */

header {
    height: 108px;
}

header .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__logo {}

.header__nav {}

.header__nav-list {
    list-style: none;
    display: flex;
    margin-block-end: 0%;
    margin-block-start: 0;
    padding-left: 0;
}

.header__nav-link {
    margin-right: 60px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #40485E;
}

.header__nav-link a {
    color: #40485E;
}

.header__nav-link:last-child {
    margin-right: 0;
}

.header__nav-link a.active {
    padding: 14px 25px;
    background: #173583;
    color: #ffffff;
}

.header__contacts {
    display: flex;
    flex-direction: column;
}

.header__contacts-item {
    display: flex;
    flex-direction: row;
}

.header__contacts-item-img {
    margin-right: 12px;
}

.header__contacts-item-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #40485E;
}

.header__contacts-item:last-child a {
    text-decoration: underline;
}

.header__contacts-item:last-child {
    margin-top: 9px;
}

#lottie {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    text-align: center;
    opacity: 1;
}


/* Bunner section styles */

.bunner {
    position: relative;
    padding-bottom: 70px;
}

.bunner:before {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    background-image: url('../img/reg-right.svg');
    display: block;
    width: 344px;
    height: 142.57px;
}

.bunner__slider {}

.bunner__slide {
    display: flex !important;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
}

.bunner__slide-content {
    margin-top: 188px;
    width: 60%;
}

.bunner__slide-pretitle {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #40485E;
}

.bunner__slide-title {
    position: relative;
}

.title--imp {
    position: relative;
    z-index: 3;
    display: inline-block;
}

.title--imp:before {
    background: #9CB5F7;
    height: 15px;
    width: 100%;
    bottom: -2px;
    content: '';
    position: absolute;
    z-index: -1;
}

.bunner__slide-undertitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 141px;
    position: absolute;
    color: rgba(0, 0, 0, 0.08);
    top: -30px;
    left: -16px;
}

.bunner__slide-text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 40px;
}

.btn {
    padding: 10px 35px;
    background: #173583;
    display: inline-block;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.bunner__slide-title {
    margin-top: 26px;
}

.bunner__slide-img {
    margin-left: 105px;
    margin-top: 100px;
    position: relative;
    width: 473px;
    height: 456px;
}

.bunner__slide-img img {
    width: 100%;
}

.slick-dots li button:before {
    width: 10px;
    height: 7px;
    background-color: #9CB5F7;
    content: '';
    display: block;
}

.slick-dots li.slick-active button:before {
    width: 32px;
    height: 7px;
    background-color: #173583;
}

.slick-dots {
    align-self: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex !important;
    bottom: -61px;
    left: 5px;
}

.slick-dots li {
    margin-right: 6px;
    margin-left: 6px;
    display: inline-table !important;
}

.slick-dots li:before {
    content: '';
    height: 7px;
    width: 10px;
    display: flex !important;
    background: #9CB5F7;
    cursor: pointer;
    transition: all 400ms ease;
}

.slick-dots li.slick-active {
    margin-right: 6px;
    margin-left: 6px;
}

.slick-dots li.slick-active:before {
    width: 32px;
    background: #173583;
    margin-right: 12px;
}

.slick-slide,
.slick-slide:focus,
.slick-slide:hover {
    outline: none;
    border: none;
}


/* Equipment section */

.equipment {
    background: #F8F8F8;
    padding: 130px 0 143px 0;
    position: relative;
}

.equipment:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background-image: url('../img/reg-left-white.svg');
    display: block;
    width: 344px;
    height: 142.57px;
}

.equipment__top {}

.title__block {
    position: relative;
}

.title__block .pretitle {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #40485E;
}

.title__block .title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #40485E;
    margin-top: 19px;
}

.title__block .undertitle {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 110px;
    line-height: 129px;
    text-align: center;
    color: rgba(0, 0, 0, 0.08);
    top: -7px;
    right: 0px;
    width: 100%;
}

.title__block .title .title--imp:before {
    height: 9px;
    bottom: 2px;
}

.equipment__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 118px;
}

.equipment__item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.equipment__bottom .slick-slide {
    margin-left: 40px;
}

.equipment__bottom .slick-list {
    margin-left: -40px;
}

.equipment__bottom .slick-track {
    display: flex;
}

.equipment__item-img {
    width: 100%;
    height: 232px;
    position: relative;
}

.equipment__item-img img {
    width: 100%;
    height: 100%;
}

.equipment__item-img-icon {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
}

.equipment__item-img-icon img {
    width: 100%;
    height: 100%;
}

.equipment__item-content {
    padding: 32px 20px;
    background-color: #fff;
    height: 100%;
}

.equipment__item-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    text-align: left;
    word-break: break-word;
}

.equipment__item-text {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #292929;
    margin: 23px 0 33px;
    word-break: break-word;
}

.equipment__item-link {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #173583;
    position: relative;
    text-align: left;
    border-bottom: 1px dashed #173583;
}

.equipment__item-link:after {
    color: #173583;
    /* content: ''; */
    display: inline-block;
    border-bottom: 1px dotted #173583;
    width: 100%;
}

.equipment__partners {
    margin-top: 111px;
}

.equipment__partners .slick-track {
    display: flex;
    align-items: center;
}

.equipment__partners .slick-slide {
    margin-left: 57px;
    /* width: max-content !important; */
}

.equipment__partners .slick-list {
    margin-left: -57px;
}

.equipment__partners-item {}

.equipment__partners-item img {
    width: 100%;
}


/* About section styles */

.about {
    padding-top: 146px;
    padding-bottom: 146px;
    position: relative;
}

.about:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background-image: url('../img/reg-about-top-left.svg');
    display: block;
    width: 784px;
    height: 140px;
    background-repeat: no-repeat
}

.about:after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    background-image: url('../img/reg-right.svg');
    display: block;
    width: 344px;
    height: 142.57px;
}

.about .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about__img {
    width: 36.5%;
}

.about__img img {
    width: 100%;
    position: relative;
}

.about__img div {
    /* width: 465.36px;
    height: 529px; */
    width: 100%;
    position: relative;
}

.about__img div:after {
    position: absolute;
    content: '';
    width: 137.46px;
    height: 148.2px;
    top: 66px;
    left: 0;
    background-image: url('../img/about-bg-animate-bottom.svg');
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.about__img div:before {
    position: absolute;
    content: '';
    width: 94px;
    height: 94px;
    right: 38px;
    bottom: 8px;
    background-image: url('../img/about-bg-animate-top.svg');
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.about__img img:before {}

.about__content {
    width: min-content;
    width: 58%;
}

.about .title__block {}

.about .pretitle {}

.about .title {}

.about .title--imp {}

.about .undertitle {
    white-space: nowrap;
    right: 0px;
    text-align: center;
    width: 100%;
}

.about__content-bottom {
    display: flex;
    flex-direction: row;
    margin-top: 118px;
    justify-content: space-between;
}

.about__content-left {
    width: 321px;
}

.about__content-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 28px;
}

.about__content-bottom p {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #292929;
    margin-bottom: 25px;
    margin-top: 0;
}

.about__content-right {
    width: 371px;
    margin-left: 63px;
}

.about__content-bottom ul {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #292929;
    margin-top: 0;
}

.about__content-bottom ul li {
    margin-bottom: 25px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}


/* News section styles */

.news {
    background: #F8F8F8;
    padding-top: 130px;
    padding-bottom: 143px;
    position: relative;
}

.news:before {
    position: absolute;
    left: 0;
    top: -94px;
    content: '';
    background-image: url('../img/dots-news-left-top.svg');
    display: block;
    width: 352px;
    height: 327px;
    background-repeat: no-repeat
}

.news .title__block .undertitle {
    right: 0;
    width: 100%;
}

.news__bottom {
    display: flex;
    flex-direction: row;
    margin-top: 118px;
}

.news__bottom-big {
    display: flex;
    flex-direction: row;
    width: 60.234375%;
}

.news__big-item {
    display: flex;
    flex-direction: column;
    width: 350px;
    /* margin-right: 71px; */
}

.news__bottom-big .slick-slide {
    margin-left: 71px;
}

.news__bottom-big .slick-list {
    margin-left: -71px;
}

.news__big-item-img {
    width: 100%;
    height: 226px;
}

.news__big-item-img img {
    width: 100%;
    height: 100%;
}

.news__big-item-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-top: 35px;
    height: 92px;
}

.news__big-item-date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #4D4D4D;
    margin-top: 21px;
}

.news__big-item-text {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-top: 17px;
}

.news__bottom-small {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    margin-left: 71px;
}

.news__bottom-small-box {
    display: flex;
    flex-direction: column;
}

.news__small-item {
    padding: 33px 40px 24px 40px;
    border-bottom: 1px solid #C4C4C4;
}

.news__small-item-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #292929;
    margin-bottom: 15px;
}

.news__small-item-date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #4D4D4D;
}

.news__bottom-link-box {
    padding: 0 40px 0 40px;
}

.news__small-item-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #173583;
    margin-top: 18px;
    margin-bottom: 22px;
    border-bottom: 1px dashed #173583;
    display: inline-block;
}


/* Cooperation section styles */

.cooperation {
    padding-top: 130px;
    position: relative;
    background-color: #ffff;
    position: relative;
}

.cooperation:after {
    position: absolute;
    right: 0;
    bottom: 47px;
    content: '';
    background-image: url('../img/coop-right-bottom.svg');
    display: block;
    width: 344px;
    height: 142.57px;
}

.cooperation:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background-image: url('../img/reg-about-top-left.svg');
    display: block;
    width: 784px;
    height: 140px;
    background-repeat: no-repeat
}

.cooperation .container {}

.cooperation__top {}

.title__block {}

.pretitle {}

.title {}

.title--imp {}

.cooperation .container .title__block .undertitle {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 110px;
    line-height: 129px;
    text-align: center;
    color: rgba(0, 0, 0, 0.08);
    top: -6px;
    right: 0px;
    width: 100%;
}

.cooperation__slider {
    display: flex;
    flex-direction: row;
    margin-top: 151px;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.slider__left {
    width: 37.35%;
    margin-left: 39px;
}

.slider-left__item {}

.slider-left__item-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    color: #292929;
    position: relative;
    z-index: 10;
}

.cooperation__slider:after {
    position: absolute;
    content: '';
    width: 94px;
    height: 94px;
    top: -52px;
    left: 0;
    background-image: url('../img/about-bg-animate-top.svg');
    background-repeat: no-repeat;
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 5;
}

.slider-left__item-text {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #292929;
    margin-top: 26px;
}

.slider__right {
    width: 53.8%;
    position: relative;
}

.cooperation__slider .slider__right .slick-list {
    clip-path: polygon(30% 0, 100% 0, 100% 71%, 71% 100%, 0 100%, 0 30%);
}

.slider__right-item {}

.slider__right-item img {
    width: 100%;
    height: 100%;
}

.coop-prev-arrow {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    cursor: pointer;
}

.coop-next-arrow {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 37px;
    cursor: pointer;
}

.coop-next-arrow:hover path {
    fill: #173583;
    transition: .35s;
}

.coop-prev-arrow:hover path {
    fill: #173583;
    transition: .35s;
}


/* Footer styles */

footer {
    background-color: #40485E;
    padding-top: 85px;
    padding-bottom: 10px;
    position: relative;
    margin-top: -50px;
}

footer:after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    background-image: url('../img/footer-right-dots.svg');
    width: 352px;
    height: 327px;
}

footer .container {
    display: flex;
    flex-direction: column;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__link {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #E5E5E5;
}

.footer__link:last-child {
    margin-top: 17px;
}

.footer__adress {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #E5E5E5;
    margin-top: 25px;
}

.footer--line {
    width: 359px;
    height: 0px;
    left: 110px;
    top: 4476px;
    margin-top: 46px;
    margin-bottom: 15px;
    border: 1px solid #FFFFFF;
}

.footer__copyright {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #E5E5E5;
}


/* Media quaries */

@media (max-width: 1300px) {
    .container {
        width: 95%;
    }
    .header__nav-link {
        font-size: 17px;
    }
    .header__logo {
        width: 180px;
    }
    .header__logo img {
        width: 100%;
    }
    .header__nav-link {
        margin-right: 40px;
    }
}

@media (max-width: 1220px) {
    .bunner__slide-img {
        width: 403px;
        height: 386px;
    }
    .bunner__slide-title .title {
        font-size: 26px;
        line-height: 29px;
    }
    .bunner__slide-title .bunner__slide-undertitle {
        top: -37px;
        font-size: 102px;
    }
    .bunner__slide-title .bunner__slide-text {
        font-size: 18px;
        line-height: 20px;
    }
    .bunner__slide-content .bunner__slide-text br {
        display: none;
    }
    /* .about {
        display: none;
    } */
}

@media (max-width: 1100px) {
    .header__nav-link {
        margin-right: 30px;
    }
    .bunner__slide-img {
        width: 377px;
        height: 336px;
    }
    .bunner__slide-img {
        margin-top: 160px;
    }
    .news__bottom {
        flex-direction: column;
    }
    .news__big-item {
        width: 50%;
    }
    .news__big-item:last-child {
        margin-right: 0;
    }
    .news__bottom-small {
        margin-top: 40px;
    }
    .about__img {
        display: flex;
        align-items: center;
    }
    .about__content .undertitle {
        right: 60px;
    }
    .news__bottom-big {
        width: 100%;
    }
    .news__bottom-small {
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    .header__nav {
        display: none;
    }
    .bunner__slide-title .bunner__slide-undertitle {
        top: -44px;
        font-size: 88px;
    }
    .bunner__slide-title .title {
        font-size: 23px;
        line-height: 22px;
    }
    .bunner__slide-title .bunner__slide-pretitle {
        font-size: 18px;
    }
    .bunner__slide-img {
        margin-top: 51px;
    }
    .bunner__slide-content {
        margin-top: 84px;
    }
    .bunner__slide-content .bunner__slide-text {
        font-size: 17px;
    }
    .bunner__slide-content .btn {
        font-size: 16px;
    }
    .bunner:before {
        bottom: -50px;
    }
    .equipment:before {
        top: -50px;
    }
    .about:before {
        top: -50px;
    }
    .about:after {
        bottom: -50px;
    }
    .cooperation:before {
        top: -50px;
    }
    .cooperation:after {
        bottom: -3px;
    }
    .about__img {
        display: none;
    }
    .about__content {
        width: 100%;
    }
    .about__content .undertitle {
        right: 0;
    }
    .about__content-bottom>div {
        width: 50%;
    }
}

@media (max-width: 888px) {
    .bunner__slide-title .bunner__slide-undertitle {
        top: -52px;
        font-size: 73px;
    }
    .bunner__slide-title .title {
        font-size: 21px;
        line-height: 17px;
    }
    .bunner__slide-title .bunner__slide-pretitle {
        font-size: 18px;
    }
    .bunner__slide-img {
        margin-top: 51px;
    }
    .bunner__slide-content {
        margin-top: 84px;
    }
    .bunner__slide-content .bunner__slide-text {
        font-size: 15px;
        line-height: 17px;
    }
    .bunner__slide-content .btn {
        font-size: 16px;
    }
    .bunner__slide-img {
        width: 341px;
        height: 300px;
    }
    .title__block .pretitle {
        font-size: 18px;
    }
    .title__block .title {
        font-size: 30px;
    }
    .title__block .undertitle {
        font-size: 90px;
    }
    .cooperation .container .title__block .pretitle {
        font-size: 18px;
    }
    .cooperation .container .title__block .title {
        font-size: 30px;
    }
    .cooperation .container .title__block .undertitle {
        font-size: 90px;
    }
    .news:before {
        width: 265px;
        height: 224px;
        background-size: contain;
    }
    .container {
        width: 93%;
    }
    footer:after {
        width: 251px;
        height: 234px;
        background-size: contain;
    }
}

@media (max-width: 768px) {
    .cooperation__slider {
        flex-direction: column;
    }
    .cooperation__slider>div {
        width: 100%;
    }
    .cooperation__slider .slider__left {
        margin-bottom: 30px;
        margin-left: 0;
    }
    .title__block .undertitle {
        font-size: 75px;
    }
    .title__block .title {
        font-size: 27px;
    }
    .title__block .pretitle {
        font-size: 17px;
    }
    .bunner__slide {
        position: relative;
    }
    .bunner__slide-content {
        width: 75%;
    }
    .bunner__slide-pretitle {
        font-size: 16px;
    }
    .bunner__slide-title {
        margin-top: 14px;
    }
    .bunner__slide-text {
        margin-top: 20px;
    }
    .bunner__slide-img {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .bunner__slide-content .btn {
        font-size: 14px;
        padding: 5px 15px;
    }
}

@media (max-width: 700px) {
    .bunner:before {
        bottom: -75px;
    }
    .equipment:before {
        top: -75px;
    }
    .about:before {
        top: -75px;
    }
    .about:after {
        bottom: -75px;
    }
    .cooperation:before {
        top: -75px;
    }
}

@media (max-width: 700px) {
    .about__content-bottom {
        flex-direction: column;
    }
    .about__content-bottom>div {
        width: 100%;
    }
    .about__content-right {
        margin-left: 0;
        margin-top: 15px;
    }
}